body{
    width: 95vw;
    background-color: #f5f3ff;
}
.side-bar{
    background-color:#5c4d74;
    height: 100vh;
}
.shopping-cart-text{
    color: white;
    text-align: center;
    margin-top: 10px;
    /*text-decoration: underline; */
}
.xty{
    display: inline-block; 
}
.img{
    /*margin-top: 15px*; */
    margin-left: 10px;
}

.btn{
    margin-left: 25px;
    margin-top: 20px;
    color: #5c4d74;
    font-weight: bold;
}
.small-line{
    width: 180px;
    background-color: gray;
}
.full-bar {
    background-color: #f5f3ff;
}
.empty-top{
    height: 30px;
    width: 80%;
    background-color: #5C4d74;
    /* margin-left: 10%; */
    margin-top: 3px;
}
.form-control{
    margin-top: 5px;
    width: 20%;
    margin-left: 15px;
}
.item{
    margin-left: 150px;
}
.items{
    width: 100%;
    background-color: white;
    /* margin-left: 10%; */
    color: #5c4d74;
    font-weight: bold;
}
.add-cart{
    color: #5C4074;
    font-weight: bold;
    margin-left: 70%;
    margin-bottom: 5px;
}
.price{
    margin-left: 40px;
}
p{
    margin-left: 20%
}
.quantity{
    margin-left: 100px;
    height: 50px;
}
input{
    width: 30x;
}
@media only screen and (min-width: 600px) {
    .items {
        width: 80%;
    }
}